<div class="row" style="margin-top: -2%">
   <div class="col-sm-12">
       <nav class="navbar navbar-inverse">
           <div class="container-fluid">
               <div class="navbar-header" style="margin-left: 10px;">
                   <a class="navbar-brand" ng-click="inicioCtrl.opcionSeleccionada = null;">Control de Asistencia</a>
               </div>
               <ul class="nav navbar-nav">
                   <li ng-class="{'active': !inicioCtrl.opcionSeleccionada.idOpcion}">
                       <a ng-click="inicioCtrl.opcionSeleccionada = null;" style="font-size: 15px !important; padding-top: 11px;">
                           Portal
                       </a>
                   </li>
                   <li ng-class="{'active': inicioCtrl.opcionSeleccionada.idOpcion == 'C'}"
                       ng-if="inicioCtrl.seleccionarOpcionMenu('C', true)">
                       <a ng-click="inicioCtrl.seleccionarOpcionMenu('C')" style="font-size: 15px !important; padding-top: 11px;">
                           Carga de Asistencia
                       </a>
                   </li>
                   <li ng-class="{'active': inicioCtrl.opcionSeleccionada.idOpcion == 'S'}"
                       ng-if="inicioCtrl.seleccionarOpcionMenu('S', true)">
                       <a ng-click="inicioCtrl.seleccionarOpcionMenu('S')" style="font-size: 15px !important; padding-top: 11px;">
                           Seguimiento
                       </a>
                   </li>
                   <li ng-class="{'active': inicioCtrl.opcionSeleccionada.idOpcion == 'J'}"
                       ng-if="inicioCtrl.seleccionarOpcionMenu('J', true)">
                     <a ng-click="inicioCtrl.seleccionarOpcionMenu('J')" style="font-size: 15px !important; padding-top: 11px;">
                         Justificación
                     </a>
                   </li>
               </ul>
               <div class="pull-right"
               style="margin-top: 13px">
                   <span style="color: white">Salir</span>
                   <button ng-click="inicioCtrl.logout();" type="button"
                           style="background: none;outline: none;border: none; color: white">
                       <i class="ixs ixs-salir"></i>
                   </button>
               </div>
               <div class="pull-right"
                    style="font-size: 14px;color: white;padding: 6px;margin-top: 7px;margin-right: 35px;">
                   <span>Profesor: {{inicioCtrl.profesor.nombre}}</span>
               </div>
           </div>
       </nav>
   </div>
</div>