<div class="col-sm-12">
    <div class="col-sm-10 col-lg-offset-1">
        <xs-busqueda contenedor="'true'"
                     titulo="'Carga de Archivo Asistencia'"
                     icono-busqueda="false"
                     desplegado="true">
            <form name="form" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label>Descargar Plantilla&nbsp;&nbsp;</label>
                            <a class="ixs-2x ixs-archivoExcel"
                               style="color:green" target="_blank"
                               href="{{inicioCtrl.planillaAlumnos}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div><label>Fecha de Asistencia</label></div>
                        <div>
                            <input type="date" name="fechaAsistencia" class="form-control"
                                   style="width: 100%;height: 22px;"
                                   ng-model="inicioCtrl.fechaAsistencia"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div><label>Materia</label></div>
                        <div>
                            <select class="form-control" name="materia"
                                    ng-model="inicioCtrl.materia" required>
                                <option VALUE=""> Seleccione </option>
                                <option ng-repeat="materia in inicioCtrl.clases"
                                        VALUE="{{materia.idClase}}">
                                    {{materia.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: -2px">
                        <div><label>Archivo [Solo Formato Excel]</label></div>
                        <div>
                            <easpayb-file file="inicioCtrl.archivo"
                                          limpiar="inicioCtrl.limpiarArchivo"
                                          acepta="application/vnd.ms-excel,
                                                  application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                                  application/vnd.ms-excel">
                            </easpayb-file>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pull-right">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-buscar"
                                    ng-click="inicioCtrl.cargarArchivo();"
                                    ng-if="form.$valid &&
                                           inicioCtrl.archivo &&
                                           inicioCtrl.materia &&
                                           inicioCtrl.fechaAsistencia">
                                <i class="ixs ixs-buscar"></i></button>
                            <button type="button" class="btn-buscar"
                                    ng-click="inicioCtrl.limpiarCarga()">
                                <i class="ixs ixs-goma ixs-gr"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </xs-busqueda>
    </div>
</div>
<div class="col-sm-12" style="margin-top: 10px" ng-if="inicioCtrl.listaDatosCargado.length>0">
    <div class="col-sm-10 col-lg-offset-1">
        <div class="col-sm-12" style="padding: 0;">
            <button type="button" class="btn btn-azul"
                    ng-click="inicioCtrl.confirmarAsistencia();">
                Confirmar Archivo
            </button>
        </div>
        <div class="col-sm-12" style="padding: 0;">
            <xs-tabla titulo="Datos Cargado"
                      config="inicioCtrl.tblTokens"
                      datos="inicioCtrl.listaDatosCargado">
            </xs-tabla>
        </div>
    </div>
</div>