<div class="col-sm-4" ng-repeat="opcion in inicioCtrl.opcionesMenu"
     ng-click="inicioCtrl.seleccionarOpcion(opcion);">
    <div class="rad-info-box-soporte" style="cursor:pointer; height: 275px !important;">
        <div class="row pnlSoporte" style="padding: 3px; height: 25px;">
            <div class="col-sm-12">
                <b style="font-size: 15px;">{{opcion.opcion}}</b>
            </div>
        </div>
        <div class="row" style="margin-left: -6px; margin-right: 0px; border-top: 2px solid {{opcion.color}};">
            <div style="padding: 10px;max-height: 250px; overflow: auto">
                <div class="descripcion-opcion-menu">
                    {{opcion.descripcion}}</div>
                <br>
                <div class="img-opcion-menu">
                    <img style="width: 80%; height: 85%;" src="img/menu/excel.jpg" ng-if="opcion.idOpcion == 'C'">
                    <img style="width: 80%; height: 180px;" src="img/menu/alumnos.jpg" ng-if="opcion.idOpcion == 'S'">
                    <img style="width: 80%; height: 85%;" src="img/menu/justificar.jpg" ng-if="opcion.idOpcion == 'J'">
                </div>
            </div>
        </div>
    </div>
</div>

