<div class="portal">
    <div class="row">
        <div ng-include="'Modulos/Acceso/inicio/detalle/barraNavegacion.html'"></div>
    </div>
    <div class="row" style="padding: 0 2%">
        <div class="col-sm-2">
            <button ng-click="inicioCtrl.opcionSeleccionada = null"
                    ng-if="inicioCtrl.opcionSeleccionada" class="btn btn-amarillo">
                Regresar
            </button>
        </div>
        <br>
        <div class="col-sm-12" style="margin-top: 15px">
            <div ng-include="'Modulos/Acceso/inicio/detalle/opcionesMenu.html'"
                 ng-if="!inicioCtrl.opcionSeleccionada"></div>
            <div ng-if="inicioCtrl.opcionSeleccionada.idOpcion == 'C'"
                 ng-include="'Modulos/Acceso/inicio/detalle/cargaAsistenciaAlumnos.html'"></div>
            <div ng-if="inicioCtrl.opcionSeleccionada.idOpcion == 'S'"
                 ng-include="'Modulos/Acceso/inicio/detalle/justificacion.html'"></div>
            <div ng-if="inicioCtrl.opcionSeleccionada.idOpcion == 'J'"
                 ng-include="'Modulos/Acceso/inicio/detalle/seguimientoAsistencia.html'"></div>
        </div>
    </div>
</div>

<!--
-->
