<div class="row">
    <div class="col-sm-12" style="margin-top: 50px">
        <div class="col-sm-11 col-sm-offset-1 text-center wrapper">
            <p class="slogan"><span class="span-titulos">PRODUCTOS</span></p>
        </div>
        <div class="col-sm-3"
             style="margin-top: 15px; ">
            <div class="col-sm-12 titulo-compra-iniciar-session" style="padding: 0">
                <div style="padding: 3%; text-align: center; font-size: 22px; letter-spacing: 3px;">
                    BUSCAR
                </div>
            </div>
            <div class="col-sm-12"
                 style="padding: 0; border: 1px solid #d4cfcf;margin-top: -2px;">
                <div class="row" style="padding: 5%;">
                    <div class="col-sm-12">
                        INPUTS DE BUSQUEDA
                    </div>
                </div>

                <div class="col-sm-12"
                     style="margin-bottom: 5px">
                    <div style="height: 35px; font-size: 15px;">
                        <button class="buttonAceptar"
                                ng-click="ventaCtrl.buscar()">
                            <span>{{"BUSCAR"}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7"
             ng-if="productoCtrl.producto"
             style="margin-top: 15px">
            <div style="height: 500px; padding: 5%">
                <div>
                    <div class="card-categoria-titulo" style="text-align: center">
                        TITULO
                    </div>
                </div>
                <div>
                    <img src="{{productoCtrl.producto.src}}" style="width: 100%; height: 400px">
                </div>
                <div class="col-sm-12" style="padding: 0">
                    <div class="col-sm-4 pull-right"
                         style="padding-right: 0; margin-top: 10px">
                        <div style="height: 30px; font-size: 13px;">
                            <button class="buttonAceptar"
                                    ng-click="ventaCtrl.irComprarProducto(productoCtrl.producto)">
                                <span>{{"COMPRAR"}}</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12 card-categoria-sub-titulo">
                        djkh fhasjkd jkasdh jkhd jash dlas hdkls djas djlasdsld
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-8" ng-if="!productoCtrl.producto">
            <div class="col-sm-12">
                <div class="col-sm-4" style="margin: 15px 0;"
                     ng-repeat="prodcts in productoCtrl.productosList">
                    <div style="height: 210px; padding: 5%">
                        <div>
                            <div class="card-categoria-titulo" style="text-align: center">
                                TITULO
                            </div>
                        </div>
                        <div>
                            <img src="{{prodcts.src}}"
                                 style="width: 100%; height: 130px">
                        </div>
                        <div class="card-lomas-vendido">
                            <div class="card-categoria-sub-titulo">
                                djkh fhasjkd jkasdh jkhd jash dlas hdkls djas djlasdsld
                            </div>
                            <div style="margin-top: 10px">
                                <div class="col-sm-12"  style="padding: 0">
                                    <button class="buttonIgnorar"
                                            ng-click="productoCtrl.irADetalleProducto(prodcts)">
                                        <span>{{"Detalle"}}</span>
                                    </button>
                                </div>
                                <div class="col-sm-12" style="padding: 0; margin-top: 10px">
                                    <button class="buttonAceptar"
                                            ng-click="productoCtrl.irADetalleVenta(prodcts)">
                                        <span>{{"Comprar"}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2%;">
    <div class="col-sm-12 cuadro-texto-footer" >
        <div class="col-sm-12"
             style="text-align: right; padding: 5% 2% 3% 0 ">
            <div class="col-sm-9">&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-3">
                <a target="_blank"
                   href="">
                    <img src="img/redesSociales/facebook.png">
                </a>&nbsp;&nbsp;&nbsp;
                <a target="_blank"
                   href="">
                    <img src="img/redesSociales/twitter.png">
                </a>&nbsp;&nbsp;&nbsp;
                <a target="_blank"
                   href="">
                    <img src="img/redesSociales/youtube.png">
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
            <div class="col-sm-12">
                <b class="texto-politicas-titulo">Acerca de Nosotros</b>
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Quienes Somos
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Oficinas
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Tiendas
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="col-sm-12">
                <b class="texto-politicas-titulo">Ayuda al Cliente</b>
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Guia de Compras
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Pago
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Envio
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Devoluciones
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Cambios
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 caja-texto-footer">
                <b class="texto-politicas-titulo">Politicas</b>
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Politica de Privacidad
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Politica Cookies
            </div>
            <div class="col-sm-12 caja-texto-footer texto-politicas">
                Aviso Copyright
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="footer-login-simple">
            <div style="color: white; width: 100%; text-align: center; padding-top: 7px;">
                <div>
                    Exclusividad de Distribución JC 2021
                </div>
            </div>
        </div>
    </div>
</div>