body {
    background: white;
    overflow: auto !important;
    font-family: sans-serif;
    overflow-x: hidden !important;
}

/* ----------------- FUENTES ----------------- */

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('fonts/JosefinSans-Light.ttf');
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('fonts/JosefinSans-SemiBold.ttf');
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(51, 69, 139, 0.8);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #0b5496;
}

/* ----------------- TITULO DE COTIZA ----------------- */

.content-header {
    margin-bottom: 30px;
}

.title-cotiza {
    color: #00344D;
    font-size: 40px;
    text-align: center;
    margin-bottom: -22px;
    font-family: 'JosefinSans-SemiBold';
}

.subtitle-cotiza {
    color: #00344D;
    text-align: center;
    font-size: 25px;
    font-family: 'JosefinSans-Regular';
}

/* ----------------- IMAGEN Y TEXTO DE IMAGEN ----------------- */

.img-lateral-d {
    visibility: visible !important;
    width: 100%;
    height: 450px;
}

.img-lateral-i {
    visibility: visible !important;

    width: 100%;
    height: 450px;
}

@media (max-width: 767px) {
    .img-lateral-i {
        visibility: hidden !important;
        height: 10px;
    }

    .img-lateral-d {
        visibility: hidden !important;
        padding-top: 20px;
        height: 400px;
    }
}

/*@media (max-width: 767px) and (min-width: 401px) {
    .img-lateral {
        height: 468px;
    }
}

@media (max-width: 400px) {
    .img-lateral {
        height: 328px;
    }
}

/*.content-text {
    font-size: 25px;
    text-align: left;
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    padding-top: 15px;
}

.title-img-p {
    color: #EB0044;
    font-family: 'Roboto-BoldCondensed';
    margin-bottom: 0;
}

.title-img-b {
    color: #01344D;
    font-family: 'Roboto-BoldCondensed';
    margin-bottom: 0;
}

.subtitle-img {
    color: #01344D;
    font-family: 'JosefinSans-Light';
    font-size: 22px;
}

.img-login {
    display: block;
    max-height: 450px;
    width: auto;
}

.padding-img {
    padding-bottom: 0;
}

/* ----------------- IMAGEN Y TEXTO DE IMAGEN ADAPTACIÓN ----------------- */

/*@media (max-width: 767px) and (min-width: 650px) {
    .padding-img {
        padding-bottom: 460px;
    }

    .img-login {
        width: 100%;
    }
}

@media (max-width: 650px) and (min-width: 530px) {
    .padding-img {
        padding-bottom: 400px;
    }

    .img-login {
        width: 100%;
    }
}

@media (max-width: 530px) and (min-width: 400px) {
    .padding-img {
        padding-bottom: 320px;
    }

    .img-login {
        width: 100%;
    }

    .content-text {
        font-size: 22px;
        margin-left: 15px;
    }

    .subtitle-img {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .padding-img {
        padding-bottom: 250px;
    }

    .img-login {
        width: 100%;
    }

    .title-cotiza {
        font-size: 36px;
        margin-bottom: -30px;
    }

    .subtitle-cotiza {
        font-size: 18px;
    }

    .content-text {
        font-size: 20px;
        margin-left: 15px;
    }

    .subtitle-img {
        font-size: 16px;
    }
}*/

/* FORMULARIO */

.body-cotiza {
    color: #6D6E70;
    font-size: 16px;
}

.content-text {
    height: 100%;
}

.background-img img {
    height: 100%;
}

.text-top5px {
    margin-top: 3px;
    text-align: right;
}

.form-error-input {
    border-color: #d9514e !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset
}
.form-success-input {
    border-color: #69b869;
}

.btn-siguiente {
    background: none;
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    /*height: 23px;*/
    padding: 5px 8px;
    font-size: 11px;
    line-height: 1;
    /*color: #33458B;*/
    color: #000000;
    background-color: #f2f6f8;
    background-image: none;
    border: 1px solid #d7e5f7;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.k-combobox {
    border: none !important;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
    color: #33458B;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #33458B;
}

.form-control::-webkit-input-placeholder {
    color: #33458B;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #d7e5f7;
    opacity: 1;
}

/*
.k-combobox {
    height: 25px !important;
    !*border: 2px solid red !important;*!
    border-radius: 25px !important;
}

.k-picker-wrap {
    height: 26px !important;
    border-radius: 25px !important;
}

.k-dropdown-wrap {
    border-radius: 20px !important;
    height: 25px !important;
    margin: -1px !important;
}

.k-input {
    border-radius: 20px !important;
    height: 20px !important;
    font-size: 12px !important;
}

.k-icon {
    height: 20px !important;
}

.k-select {
    margin: -1px !important;
}

.k-item {
    font-size: 11px !important;
}

.k-picker-wrap .k-input {
    margin: 2px 0 0 0 !important;
}*/


.rad-info-box-soporte {
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    padding: 10px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.26);
    background: white !important;
    height: 174px;
}

.rad-info-box-soporte .value,
.rad-info-box-soporte .headingSp {
    color: #dbffe0;
    text-align: right;
}

.rad-info-box-soporte .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: 5px;
}

.rad-info-box-soporte:hover{
    cursor: pointer;
    background: #c7dfff !important;
}

.activePaquete {
    background: #d6ffd4 !important;
}


@media (max-width: 830px) and  (min-width: 400px){
    .rad-info-box-soporte{
        cursor:pointer;
        font-size: 1em;
        padding-top: 2px;
    }

    .rad-info-box-soporte .headingSp {
        font-size: 1em;
        height: 90px;
    }
}

@media (max-width: 1115px) and (min-width: 830px){
    .rad-info-box-soporte{
        cursor:pointer;
        font-size: 1em;
        padding-top: 2px;
    }
    .rad-info-box-soporte .headingSp {
        font-size: 1em;
        height: 50px;
        padding-top: 5px;
    }
}

@media (max-width: 1500px) and (min-width: 1115px){

    .rad-info-box-soporte {
        padding: 10px;
    }
    .rad-info-box-soporte{
        cursor:pointer;
        font-size: 1em;
    }
    .rad-info-box-soporte .headingSp {
        font-size: 1em;
        height: 50px;
        padding-bottom: 5px;
    }
}

@media (max-width: 1800px) and (min-width: 1500px){
    .rad-info-box-soporte {
        padding: 10px;
    }
    .rad-info-box-soporte .headingSp {
        font-weight: 300;
        font-size: 1.2em;
        height: 55px;
    }
}

.titulosModales {
    padding: 13px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
    /*background-color: #4faa4a;*/
    background-color: #CE4239;
    color: white;
    font-size: 17px;
}

.footerModales {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.text-easpayb {
    background-color: #5674ae;
    padding: 5px 10px 5px 10px;
    width: 65px;
    color: white;
    margin: 2px;
    border-radius: 10px 10px 0 0;
}

/* ------------- MENU ------------ */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.woff');
}

.menu {
    width: 100%;
}

.barra-superior {
    background-color: #EB0044;
    height: 35px;
    vertical-align: middle;
    display: grid;
    align-items: center;
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 16px;
}

.barra-footer {
    background-color: #00344d;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    color: white;
    height: 35px;
    font-family: 'Roboto-Regular';
}

@media (max-width: 768px) {
    div .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/* ------------- FORMA DE DIV PERSONALIZADO ------------ */

.fondo-div {
    width: auto;
    height: 460px;
    top: 0;
    padding: 1%;
    border-radius: 50px 50px 200px 200px;
    -moz-border-radius: 50px 50px 200px 200px;
    -webkit-border-radius: 50px 50px 200px 200px;

}

/* ------------- ROW DE 5 COLUMNAS Y CONFIGURACIÓN RESPONSIVE ------------ */

.col-md-5ths {
    position: relative;
    min-height: 1px;
    padding: 15px 10px 0 10px;
}

@media (max-width: 390px){
    .col-md-5ths.fondo-div.ng-scope {
        width: 99%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 50px !important;
    }
    .padding-text-vehiculo {
        margin-left: 55px !important;
    }
}
@media (min-width: 391px) and (max-width: 646px){
    .col-md-5ths.fondo-div.ng-scope {
        width: 99%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 60px !important;
    }
    .padding-text-vehiculo {
        margin-left: 70px !important;
    }
}
@media (min-width: 647px) and (max-width: 767px){
    .col-md-5ths.fondo-div.ng-scope {
        width: 99%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 65px !important;
    }
    .padding-text-vehiculo {
        margin-left: 80px !important;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .col-md-5ths {
        width: 49%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 55px !important;
    }
    .padding-text-vehiculo {
        margin-left: 65px !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-5ths.fondo-div.ng-scope {
        width: 19%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 62px !important;
    }
    .padding-text-vehiculo {
        margin-left: 75px !important;
    }
}
@media (min-width: 1200px) {
    .col-md-5ths.fondo-div.ng-scope {
        width: 19%;
        float: left;
    }
    .padding-text-persona {
        margin-left: 73px !important;
    }
    .padding-text-vehiculo {
        margin-left: 90px !important;
    }
}


@media (max-width: 767px) {
    .img-lateral-i {
        visibility: hidden !important;
        height: 10px;
    }

    .img-lateral-d {
        visibility: hidden !important;
        padding-top: 20px;
        height: 400px;
    }
}

.clickable {
    cursor: pointer;
    outline: none !important;
}

.separacion10px {
    margin: 10px 0;
}
.separacion20px {
    margin-top: 20px;
}
.separacion30px {
    margin-top: 30px;
}

.datosAsegurado {
    height: auto;
    padding: 0 !important;
    /*border-right: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;*/
}

.datosVehiculo {
    height: auto;
    padding: 0 !important;
    /*border-bottom: 1px solid #a9a9a9;*/
}

.datosDireccion {
    height: auto;
    padding: 0 !important;
    /*border-bottom: 1px solid #a9a9a9;*/
}

.datosPaqueteSeleccionado {
    padding: 0 !important;
}
/*Estilos de Tabla Estado de Cuenta*/
.edoCuenta {
    width: 100%;
    /*border-collapse: collapse;*/
    font-size: 16px;
}

.edoCuenta td,
.edoCuenta th {
    /*border: 1px solid #CE4239;*/
    text-align: center;
}

.edoCuenta td  {
    padding: 2px 8px !important;
}

.edoCuenta th {
    text-align: center;
    background-color: #CE4239;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}

.edoCuenta tr {
    color: #6D6E70;
    padding: 2px 8px !important;
}
/*FIN Estilos de Tabla Estado de Cuenta*/

.titulo-datos-conductor {
    margin-top: 15px;
    background: #4994c5;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    color: white;
    font-size: 17px;
}

.titulo-direccion-conductor {
    color: #32549e;
    font-size: 13px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #32549e;
}

.titulo-datos-vehiculo{
    margin-top: 15px;
    background: #e28134;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    color: white;
    font-size: 17px;
}
.titulo-datos-paquete {
    margin-top: 15px;
    background: #129c3b;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    color: white;
    font-size: 17px;
}

.titulo-datos-direccion {
    margin-top: 15px;
    background: #c8494d;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    color: white;
    font-size: 17px;
}

.etiqueta-input {
    /*border-left: 2px solid #f00;*/
    padding-left: 4px;
}

.titulo-subtitulos {
    color: #00344D;
    font-size: 16px;
    margin-bottom: 5px;
}

.buttonIgnorar {
    /*padding: 5px;*/
    background: #CE4239;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
}

.buttonAceptar {
    /*padding: 5px;*/
    /*background: #4faa4a;*/
    background: #CE4239;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    padding-top: 12px;
    font-size: 16px;
}

.button-emitir {
    padding: 5px;
    background: #CE4239;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
}

.text-paquete {
    text-shadow: 0 0 50px #FFFFFF;
    font-size: 20px;
    /*color: white;*/
}

.title-selecciona-pq {
    color: #00344D;
    font-size: 25px;
    text-align: center;
    font-family: 'JosefinSans-Regular';
}

.subtitle-selecciona-pq {
    color: #00344D;
    text-align: center;
    font-size: 20px;
    font-family: 'JosefinSans-Light';
    margin-bottom: 20px;
}

.formatosEmitir{
    padding: 0;
   /* border: 1px solid #b0b0b0;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;*/
    margin-top: 25px;
    margin-bottom: 30px;
}
/* ESPACIOS ENTRE ROW DE FORMULARIO VEHICULO */

.row-form {
    padding-left: 0;
    margin-top: 5px;
}

.row-form-2 {
    margin-top: 15px;
}

@media (max-width: 1196px) {
    .row-form {
        margin-top: -3px;
    }
    .row-form-2 {
        margin-top: 5px;
    }
}

/* ------------- ROW DE 4 COLUMNAS Y CONFIGURACIÓN RESPONSIVE ------------ */

.col-md-4ths {
    position: relative;
    min-height: 1px;
    padding: 15px 10px 0 10px;
}

@media (max-width: 689px){
    .col-md-4ths.fondo-div.ng-scope {
        width: 99%;
        float: left;
    }
}
@media (min-width: 690px) and (max-width: 991px) {
    .col-md-4ths {
        width: 49%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-4ths.fondo-div.ng-scope {
        width: 24%;
        float: left;
    }
}

.efecto-hover:hover {
    background-color: #E2E2E2 !important;
    color: black !important;
}

.seleccionarCobertura:hover {
    background-color: #e5e5e5 !important;
}

.error-combo {
    border: none !important;
}

.error-combo .dropdown-wrap {
    /*border: 1px solid #d9514e;*/
    border-bottom-color: #CE4239;
    border-right: none;
}

.success-combo {
    border: none !important;
}

.success-combo .dropdown-wrap {
    border: 1px solid #69b869;
    border-right: none;
}

.text-formulario{
    color: #00344D;
    font-size: 20px;
    font-family: 'JosefinSans-SemiBold';
}

.radio-button,
.checkbox {
    position: relative;
    margin: 10px 0;
}
.checkbox { display: block; }

.radio-button input,
.checkbox input {
    position: absolute;
    margin: 5px;
    padding: 0;
    /* for mobile accessibility (iOS Label Bug) */
    visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
    margin-left: 2em;
    margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox{
    position: absolute;
    display: block;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #41759e;
    background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #32549e;
    transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }

.cntr {
    margin: auto;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}
.btn-radio:not(:first-child) {
    margin-left: 20px;
}
@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }
    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}
.btn-radio svg {
    fill: none;
    vertical-align: middle;
}
.btn-radio svg circle {
    stroke-width: 2;
    stroke: #8d9199;
}
.btn-radio svg path {
    stroke: #CE4239;
}
.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}
.btn-radio input {
    display: none;
}
.btn-radio input:checked + svg path {
    transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
}
.btn-radio span {
    display: inline-block;
    vertical-align: middle;
}

.table
.thead-dark th {
    color:#fff;
    background-color: #00344D;
    border-color:#00344D
}

.titulo-columna-tabla {
    text-align: center;
    padding: 15px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.27) !important;
}

.tabla-paquetes {
    font-size: 14px;
    border-collapse: collapse;
    /*font-family: 'Roboto-Regular';*/
}

.datos-tablas {
    text-align: center;
}

.datos-tabla {
    text-align: center;
    padding-top: 20px !important;
}

.button-detalle {
    padding: 5px;
    padding-top: 8px;
    background: #00344D;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-detalle:hover{
    background: #004e62;
    color: white;
}

.border-tabla-datos {
    border-collapse: collapse;
    border: 1px solid rgba(207, 207, 207, 0.64) !important;
}

.border-tabla-datos tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

.detalle-monto-apagar {
    background: #e8e7e7;
    border-radius: 10px 0 0 10px;
    padding: 20px 0;
}

.detalle-monto-apagar-titulos {
    color: #6D6E70;
    font-size: 16px;
    margin-top: 15px;
}

.detalle-monto-apagar-valor {
    text-align: left;
    color: #6D6E70;
    font-size: 16px;
    margin-top: 15px;
}
.monto-a-pagar {
    /*background: #CE4239;*/
    /*margin-top: 16px;*/
    /*text-align: right;*/
    /*padding: 5px;*/
    font-size: 18px;
    /*border-radius: 4px;*/

    background: #00344D;
    padding: 15px;
    margin-top: 10px;
    color: white;
    border-radius: 8px
}

.resultado-poliza {
    margin-top: 15px;
    padding: 5px;
    color: #129c3b;
    font-size: 20px;
    letter-spacing: 1px;
}

.titulo-informacion-form {
    margin-top: -40px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .titulo-informacion-form {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.datos-completos {
    font-family: 'JosefinSans-Light';
    color: #63a925;
    font-size: 14px;
}

.datos-incompletos {
    font-family: 'JosefinSans-Light';
    color: #CE4239;
    font-size: 14px;
}

.text-formulario-subtitulo{
    color: #6D6E70;
    font-size: 18px;
    font-family: 'JosefinSans-SemiBold';
}

/*Estilos de Tabla Coberturas en emitir*/
.coberturas-tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.coberturas-tabla td,
.coberturas-tabla th {
    /*border: 1px solid #00344D;*/
    text-align: center;
}

.coberturas-tabla td  {
    padding: 2px 8px !important;
}

.coberturas-tabla th {
    text-align: center;
    background-color: #00344D;
    color: #fff;
    padding: 5px;
    font-size: 16px;
}

.coberturas-tabla tr {
    color: #6D6E70;
    padding: 2px 8px !important;
}
/*FIN Estilos de Tabla Coberturas en emitir*/

.mdl-emision-pago {
    width: 50%;
}

@media (max-width: 767px) {
    .mdl-emision-pago {
        width: 80% !important;
    }
}


.titulo-mdl-cotizar {
    color: #00344D;
    text-align: center;
    font-size: 25px;
    font-family: 'JosefinSans-Regular';
}

.text-mdl-cotizar {
    color: #00344D;
    text-align: center;
    font-size: 18px;
    font-family: 'JosefinSans-Regular';
}

.text-dos-mdl-cotizar {
    color: #CE4239;
    text-align: center;
    font-size: 15px;
    font-family: 'JosefinSans-Regular';
}

.text-formulario-red {
    color: #CE4239;
    font-size: 20px;
    font-family: 'JosefinSans-SemiBold';
}

.subtitle-cotiza {
    color: #00344D;
    text-align: center;
    font-size: 25px;
    font-family: 'JosefinSans-Regular';
}
