<div class="modal fade" id="usuarioA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="ixs ixs-eliminar"></i> Agregar Usuario
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Nombre de Usuario</label>
                            <div ng-class="{'has-error': form.nombre.$invalid, 'has-success': form.nombre.$valid}">
                                <input type="text" name="nombre"
                                       ng-model="usuarioCtrl.nuevoUsr.nombre"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label>Contraseña</label>
                            <div ng-class="{'has-error': form.clave.$invalid, 'has-success': form.clave.$valid}">
                                <input type="password" name="clave"  style="width: 100%"
                                       ng-model="usuarioCtrl.nuevoUsr.clave"
                                       class="form-control" maxlength="18" required/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Correo Electrònico</label>

                            <div ng-class="{'has-error': form.correo.$invalid, 'has-success': form.correo.$valid}">
                                <input type="email" name="correo"  style="width: 100%"
                                       ng-model="usuarioCtrl.nuevoUsr.eMail"
                                       class="form-control" maxlength="100" required
                                       pattern="[a-zñÑ0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Tipo de Usuario</label>
                            <select class="form-control" name="tipoUsuario"
                                    ng-required="true" style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="usuarioCtrl.cbxTipoUsuario"
                                    k-data-source="usuarioCtrl.tiposdeUsuario"
                                    ng-model="usuarioCtrl.nuevoUsr.tipoUsuario"
                                    k-ng-model="usuarioCtrl.tipoUsuario"
                                    ng-class="{'error-combo': form.tipoUsuario.$invalid,
                                               'success-combo': form.tipoUsuario.$valid}">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            Direccion del Usuario
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>País</label>
                            <select class="form-control" name="idPais"
                                    ng-required="true" style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="usuarioCtrl.cbxPais"
                                    k-data-source="usuarioCtrl.paises"
                                    ng-model="usuarioCtrl.nuevoUsr.idPais"
                                    k-ng-model="usuarioCtrl.idPais"
                                    ng-class="{'error-combo': form.idPais.$invalid,
                                               'success-combo': form.idPais.$valid}">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Estado</label>
                            <select class="form-control" name="idEstado"
                                    ng-required="true" style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="usuarioCtrl.cbxEstado"
                                    k-data-source="usuarioCtrl.estados"
                                    ng-model="usuarioCtrl.nuevoUsr.idEstado"
                                    k-ng-model="usuarioCtrl.idEstado"
                                    ng-class="{'error-combo': form.idEstado.$invalid,
                                               'success-combo': form.idEstado.$valid}">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Municipio</label>
                            <select class="form-control" name="idMunicipio"
                                    ng-required="true" style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="usuarioCtrl.cbxMunicipio"
                                    k-data-source="usuarioCtrl.municipios"
                                    ng-model="usuarioCtrl.nuevoUsr.idMunicipio"
                                    k-ng-model="usuarioCtrl.idMunicipio"
                                    ng-class="{'error-combo': form.idMunicipio.$invalid,
                                               'success-combo': form.idMunicipio.$valid}">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Ciudad</label>
                            <select class="form-control" name="idCiudad"
                                    ng-required="true" style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="usuarioCtrl.cbxCiudad"
                                    k-data-source="usuarioCtrl.ciudades"
                                    ng-model="usuarioCtrl.nuevoUsr.idCiudad"
                                    k-ng-model="usuarioCtrl.idCiudad"
                                    ng-class="{'error-combo': form.idCiudad.$invalid,
                                               'success-combo': form.idCiudad.$valid}">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label>Calle</label>
                            <div ng-class="{'has-error': form.calle.$invalid, 'has-success': form.calle.$valid}">
                                <input type="text" name="calle"
                                       ng-model="usuarioCtrl.nuevoUsr.calle"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>No Exterior</label>
                            <div ng-class="{'has-error': form.noExterior.$invalid, 'has-success': form.noExterior.$valid}">
                                <input type="text" name="noExterior"
                                       ng-model="usuarioCtrl.nuevoUsr.noExterior"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>No Interior</label>
                            <div ng-class="{'has-error': form.noInterior.$invalid, 'has-success': form.noInterior.$valid}">
                                <input type="text" name="noInterior"
                                       ng-model="usuarioCtrl.nuevoUsr.noInterior"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Colonia</label>
                            <div ng-class="{'has-error': form.colonia.$invalid, 'has-success': form.colonia.$valid}">
                                <input type="text" name="colonia"
                                       ng-model="usuarioCtrl.nuevoUsr.colonia"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <label>Codigo Postal</label>
                            <div ng-class="{'has-error': form.codigoPostal.$invalid, 'has-success': form.codigoPostal.$valid}">
                                <input type="text" name="codigoPostal"
                                       ng-model="usuarioCtrl.nuevoUsr.codigoPostal"
                                       class="form-control" style="width: 100%"
                                       maxlength="5" required/>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label>Referencias</label>
                            <div ng-class="{'has-error': form.referencias.$invalid, 'has-success': form.referencias.$valid}">
                                <input type="text" name="referencias"
                                       ng-model="usuarioCtrl.nuevoUsr.referencias"
                                       class="form-control" style="width: 100%"
                                       maxlength="5" required/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" ng-if="form.$valid">
                        <div style="display: inline-block; margin-left: 15px;">
                            <div style="display: inline-block;">
                                <label>{{'Confirmar'}}</label>
                            </div>
                            <div style="display: inline-block; margin-left: 5px;">
                                <button type="button"
                                        ng-click="usuarioCtrl.agregarUsuario()"
                                        data-dismiss="modal"
                                        class="btn btn-success">
                                    <i class="ixs ixs-palomita">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>